.contentWrapper {
    width: 100%;
    min-height: 100%;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
  padding-bottom:2rem;
  color:var(--text-color);
}
@media (max-width: 500px) {
    .contentWrapper {
        width: 100%;
        position: fixed;
        top: 55px;
    }
    .logo {
        margin: 0;
    }
}
